<a href="https://colab.research.google.com/github/TbinhCodeNext/machineLearningClubTerm1/blob/main/Thanhbinh_Nguyen_ML_Lesson_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Club Next
## Lesson 3 : For Loops and KNN

#### Lists

**Basics**   
Lists are a special type of variable that can hold more than one value.

We denote lists in python using [ ] and use ',' to seperate values in the array.

```
my_list = ['dog', 'cat', 1, 5.4, True, 'elephant']
```
We refer to each value of the list as an element. The above list has 6 elements in it. As you can see in the above example, elements do not need to be of the same data type in python. 

Additionally, two elements in a list can have the same value. 
```
my_list = ['dog', 1, 2, 3, 'dog', 3]
```

We can have another list as an element in another list. 
```
my_list = ['dog', 'cat', [1, 2, 3]]
```

In [ ]:
months = ['Jan', 'Feb', 'Mar', 'April', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
print(months)

mike_family = ['Mom', 'Dad', ['Brother1', 'Brother2']]
print(mike_family)

# Exercise
# Create your own list of your favorite foods. Make sure it contains at least five items
fav_foods = ['burgers', 'lasagna', 'strawberries', 'cherries', 'tofu', 'oreos', 'cha gio']
print(fav_foods)

['Jan', 'Feb', 'Mar', 'April', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
['Mom', 'Dad', ['Brother1', 'Brother2']]
['burgers', 'lasagna', 'strawberries', 'cherries', 'tofu', 'oreos', 'cha gio']

**Indexing**

Returning values from a list is called indexing, and we index a list by telling python the position or index of the value we want out. **Important: In Python, the index of the first element in a list is 0**. So for the previous example the values and indices of our list are:

| Element|Data Type| Index|
| :-------------: | :----------: | :-----------: |
|  'dog' | String   | 0 |
| 'cat'   | String | 1 |
| 1   | Int | 2 |
| 5.4   | Float | 3 |
| True   | Boolean | 4 |
| 'elephant'   | String | 5 |

To index a list and return a value we use the list name followed by square brackets and the index of the value we want.

For example to assign the value of dog to a new variable, my_var, using the list from the first example, we could do the following.

```
my_var = my_list[0]
```

We can also search a list for a particular value and return its index using
```
my_list.index(<value>)
```

In cases where a list contains multiple elements with the same value, the lower index will be returned. Again using our first example, this will assign the value of 0 to my_var

```
my_var = my_list.index('dog')
```

If we try to get the value at an index outside of the list, we will return an error. However, if we use negative numbers, we will begin indexing at the end of our list (starting at -1). We can still return an error if our negative index's magnitude is greater than the size of our list.

```
my_list[-1] # is equal to 'elephant'
my_list[-7] # this will return an error
```

To get the length of a list use:
```
len(my_list)
```

In [ ]:
test_list = ['purple', True, 2.34, "burgandy", 7]

print(test_list[0]) # will print purple
print(test_list[3]) # will print burgandy

# This will return an error
#print(test_list[7])

print(test_list[-1]) # will print burgandy

print(len(test_list)) # will print 4

# Exercise
# print out the 3rd and 5th item in your fav_food list using indexing. For example
my_list = ['pasta', 'burgers', 'paella', 'jollof rice', 'jambalaya']
# print out 'paella' and 'jambalaya
print(my_list[2])
print(my_list[4])

purple
burgandy
7
5
paella
jambalaya

**Slices**  
We can index multiple values in a list at the same time. Referencing multiple values in a list will return a smaller list, consisting of the indexed values. This smaller list is called a slice.

To index sequential elements we indicate the lower and upper index we wish to grab seperated by a colon (:) in square brackets.

```
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Grab all values starting at index 1 and going to index 4
my_sublist = my_list[1:5]
# my sublist is now [1, 2, 3, 4]
```
When we create a slice like this, we include all values starting at the lower index and stopping right before the index via this method we include the value at our lower index, but exclude the value at the upper index.

We can also grab non-sequential indices by using commas (,) in our square brackets.

```
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Grab all values starting at index 1 and going to index 4
my_sublist = my_list[1,4,5,8]
# my sublist is now [1, 4, 5, 8]
```

Or some combination of both sequential and non-sequential values

```
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Grab all values starting at index 1 and going to index 4
my_sublist = my_list[1:4,5,8]
# my sublist is now [1, 2, 3, 5, 8]
```

In [ ]:
my_list = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

print(my_list[1:5] + my_list[9:11]) # will print out 11, 12, 13, 14, 19, 20

# Exercise
# Try print out your ages for the next 5 years using my_list
print(my_list[6:11])

[11, 12, 13, 14, 19, 20]
[16, 17, 18, 19, 20]

**Adding Values**  
After we have created a list, we can add values to it in a few ways. We can add a value to the end of a list by using:
```
my_list.append(<value>)
```
Alternatively, we can insert a value at a particular index, and shift all of the values after it up an index by using:
```
my_list.insert(<value>, <index>)
```
To add multiple values to the end of a list we can do the following:
```
my_list.extend([value1, value2, ... ])
```

In [ ]:
my_list = [1]
print(my_list)

my_list.append(3) # add 3 to the end of the list
print(my_list)

my_list.extend([4,5,6,7,8,9]) # add 4,5,6,7,8,9 to the end of the list
print(my_list)

my_list.insert(2, 1) # insert the value 2 at index 1 in the list
print(my_list)

# Exercise
# Add the countries/cultures/regions your favorite foods are from to your fav_food list


**Removing Values**  
To remove the value at a specific index in an list, we use
```
my_list.pop(<index>)
```

To remove the first occurance of a particular value in an list:
```
my_list.remove(<value>)
```

In [ ]:
my_list = [10, 19, 11, 12, 13, 14, 15, 16, 17, 100, 18, 19, 20, 21, 22, 23, 24, 25]
print(my_list)

my_list.pop(9)
print(my_list)

my_list.remove(19)
print(my_list)

# Exercise
# Remove any food and country/culture/region in you fav_food list that doesn't start with a vowel.
# If all the foods start with a vowel, remove the 2nd, 5th, 6th, and 8th elements.

### For Loops

For loops allow us to execute the same piece of code repeatedly.

The syntax of a for loop in python is:

```
for <variable> in <list>:
  some code here
```
The code inside of the for loop will execute one type for each element in the list. We are also allowed to use the variable inside of the for statement code block, and do not need to create the variable prior to using it in the for loop.

Note that like if statements we need to include a colon after our for loop. Additionally, the code block inside of the for loop needs to be indented.

In [ ]:
# calculate student test average

student_grades = [98, 100, 90, 85, 96, 92, 91, 94, 94]
sum = 0

# iterate through each of the grades in student grades
for grade in student_grades:
  sum += grade

print("Class average:")
print(sum/len(student_grades))

In [ ]:
# Exercise
# Loop through the grades list
# If the grade is greater than one 90 print "Congrats"

grades = [81, 90, 93, 94, 88, 95, 100, 85]

# Your code here

#### Range()

Range() allows us to create lists of sequential integers. The syntax for using range is:

```
my_list = range(a) 

# my_list = [0, 1, 2, ..., a-1]
```

Note that range() creates a list with a elements starting at 0 and going to a-1.

You can also specify a starting value for your range function.

```
my_list = range(a,b)

# my_list = [a, a+1, a+2, ..., b-1]
```

Here, range() creates a list with a-b elements which contains a but does not contain b.

The range function can be useful for iterating through a for loop a set number of times.

In [ ]:
# Suppose we want to print out greetings to 10 students

for i in range(10):
  print("Hello World")

In [ ]:
# Exercise
# Print out your ages for the next five years using the range function

## KNN

### Example
Run the below cell. Try changing the value of the `n_neighbors` variable to see what happens.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn import neighbors, datasets

# number of neighbors
n_neighbors = 15

# import dataset from sklearn
iris = datasets.load_iris()

# Only use the first two features in the dataset
X = iris.data[:, :2]
y = iris.target

### Run KNN algorithm ###
clf = neighbors.KNeighborsClassifier(n_neighbors, weights='distance')
clf.fit(X, y)

### Create the Plot ###
h = .02  # step size in the mesh

# Create color maps
cmap_light = ListedColormap(['orange', 'cyan', 'cornflowerblue'])
cmap_bold = ListedColormap(['darkorange', 'c', 'darkblue'])

# Plot the decision boundary. For that, we will assign a color to each
# point in the mesh [x_min, x_max]x[y_min, y_max].
x_min, x_max = X[:, 0].min() - 1, X[:, 0].max() + 1
y_min, y_max = X[:, 1].min() - 1, X[:, 1].max() + 1
xx, yy = np.meshgrid(np.arange(x_min, x_max, h),
                      np.arange(y_min, y_max, h))
Z = clf.predict(np.c_[xx.ravel(), yy.ravel()])

# Put the result into a color plot
Z = Z.reshape(xx.shape)
plt.figure()
plt.pcolormesh(xx, yy, Z, cmap=cmap_light)

# Plot the training points
plt.scatter(X[:, 0], X[:, 1], c=y, cmap=cmap_bold,
            edgecolor='k', s=20)
plt.xlim(xx.min(), xx.max())
plt.ylim(yy.min(), yy.max())
plt.title("3-Class classification (k = %i')"
          % (n_neighbors))

plt.show()

### Challenge
Make sure to run the example above first, to import the appropriate data

In [ ]:
# Run this block of code
# Generate data

x = iris.data[:, :2]
y = iris.target

# Each item in the list, x = [feature 1, feature 2]
# y is a list the same size as x with the targets

In [ ]:
# Write a loop to run through the targets, y and print out
# each item (Hint: treat the y variable as a list).

In [ ]:
# Write a for loop to run through the features, x. Use 
# range() and len()

![download.png]()

In [ ]:
# Calculate the distance between pt z1 and z2
import numpy as np

z1 = [1., 2.] # (x1, y1)
z2 = [2., 4.] # (x2, y2)

# Write the distance formula here
# Use np.sqrt(variable) to calculate the square root of 
# a variable
 
dist = np.sqrt((z2[0] - z1[0]) ** 2 + (z2[1] - z1[1]) ** 2)

print(dist)

2.23606797749979

In [ ]:
# Example Nearest Neighbor
# We're going to classify a point x_new
X = [i for i in range(10)]
Y = [0 if i < 5 else 1 for i in X]
for x, y, in zip(X, Y):
  print(x, y)
# KNN Example
test_point = 6.5

best_point = None
best_distance = float('inf')

for x, y in zip(X, Y):
  if abs(x - test_point) < best_distance:
    best_point = (x, y)
    best_distance = abs(x - test_point)
print("predicted ", best_point[1])

0 0
1 0
2 0
3 0
4 0
5 1
6 1
7 1
8 1
9 1
predicted  1

In [ ]:
# We're going to classify a new point x_new
x_new = [6, 3]

min_distance = 1000000000 # set the initial distance 
prediction = None

# Copy the second for loop from above (the one using range() and len()
# write for loop

  # Calculate distance between x_new and the item in x


  # Use an if statement to test whether new the distance is less
  # than the min distance

    # Set the prediction using the value y

    # Set the new minimum value


# Print out the prediction

# Change the values of x_new to a different point and run this again

(Extra) We implemented KNN for K=1 above. Try to change the code, so that we can use different values of K.