<a href="https://colab.research.google.com/github/TbinhCodeNext/machineLearningClubTerm1/blob/main/Thanhbinh_Nguyen__ML_Lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine Learning Lesson 1: Python Basics and Data Exploration
## Python Basics

### Print Statements
What do you think the following line does? (press shift enter to run!)

In [ ]:
print("Hello World")

Hello World

Code executes from top to bottom  
What do you think the following two lines of code will do?

In [ ]:
print("Hello")
print("World")

In [ ]:
# Exercise 1:
# Print your name here
print("Thanhbinh Nguyen")

Thanhbinh Nguyen

**Welcome to Google Colab. A cloud jupyter notebook service.**

*Colabs Tip* - *Notice how when I run the second code block [2], the code in [1] doesn't run. Code in separate blocks can be executed independently. Notebooks are a great place for prototyping and seperating out components of your code.*

## Variables

Variables store values.
A variable is created by assigning a value to a variable name

```
variable_name = value
```

Here the "=" is called the assignment operator. We use the assignment operator to assign a variable a certain value

In [ ]:
# This is a comment.
# Comments don't do anything in our code
#
# Comments are any texts following a hashtag
#
# We can use comments to write reminders or
# document how the code we write works or what
# a piece of code does
#
# Always add comments to your code!!

# These are variables
a = 1
b = "John" # We can also have a comment after a line of code

After we have assigned a variable we can get the variable value using the variable name.

**However if we try to use the value of a variable, before we have assigned it a value for the first time we will get an error**

In [ ]:
print(a)
print(b)

# This will not work. The variable c has not been created yet
# print(c)

1
John

*Colabs Tip - If you save a variable in one code block, you can still use it in another*

In [ ]:
# Exercise 2:
# Create a variable to store your name
# Print out the variable
my_name = "Thanhbinh"
print(my_name)

Thanhbinh

#### Rules for Variable Names
* Must start with a letter or an underscore (_)
* Cannot start with a number
* Must only contain alpha-numeric characters and underscores (A-z, 0-9, and _)
* Are case sensitive (age is different than Age)

In [ ]:
# These names are alright

myVar = "Nick"
_myVar = "Mike"
MYVAR = "Cat"
mYvAr3 = "Dog"

# These variable names are not
# 2myVar = "John"
# my-Var = "Jog"

#### Variable Types
There are different types of variables

* int - whole number (1,2,3,4, -1,0 10000)
* float - decimal number (1.2, 3.492, 192.20430)
* string - text ("hello world", 'My name is')
* boolean - True or False (True/False)


In python variable types are assigned automatically, when you create a variable. You can also change a variable's type if you assign it a different value.

We can see the type of a variable by using

```
type(variable_name)
```

In [ ]:
test_var = 1 

# test_var is now an int
print(type(test_var))

test_var = 1.23
# test_var is now a float
print(type(test_var))

test_var = "Hello World"
# test_var is now a string (str)
print(type(test_var))

test_var = True
# test_var is now a boolean (bool)
print(type(test_var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Operations

#### Basic Operations

Python supports all of the basic math operations
* addition (+)
* subtration (-)
* multiplication (*)
* division (/)
* exponents (**)

As well as a few others
* modulus (%) : returns the remainder in a division (ex. 5 % 2 = 1)

Predict the output of the following operations

In [ ]:
a = 7
b = 5

res a + b
print (res)

res a - b
print(res)

res = a / b
print(res)

res = a ** 2
print(res)

res = a % b
print(res)

Change the values of a and b. What will the new results be?

Suppose you wanted to add a value to a variable and assign that value to the variable. The code to do so might look like this:
```
my_var = my_var + 2
```
However, python has a shortcut for performing this operation:
```
my_var += 2
```
Python has similiar shortcuts for all of the basic operations
```
my_var += <value> # my_var = my_var + <value>
my_var -= <value> # my_var = my_var - <value>
my_var *= <value> # my_var = my_var * <value>
my_var /= <value> # my_var = my_var / <value>
my_var %= <value> # my_var = my_var % <value>
```

## Data Exploration
### Kaggle

Kaggle hosts a variety of datasets online that can be used for machine learning models. You can find Kaggle at:
> https://www.kaggle.com/

Example Dataset 
https://www.kaggle.com/starbucks/starbucks-menu  

Kaggle allows users to:
* Find and publish datasets
* Work with other data scientists
* **Enter Competitions**

If you need a want to know more about Kaggle, see [here](https://www.youtube.com/watch?v=O1P4r0Iy55U)

In [ ]:
# We use pd as a nickname / alias for pandas
import pandas as pd
import io
import numpy as np
from google.colab import files

# # Use this code to read in data files
#uploaded = files.upload()
#df = pd.read_csv(io.BytesIO(uploaded[list(uploaded.keys())[0]]))
df = pd.read_csv('starbucks-menu-nutrition-drinks.csv')

### Pandas

**What are python libraries?**

Python libraries are pieces of code that other developers have written for other people to use in there code.

Examples of python libraries include
* Numpy - popular python library for complex numerical operations
* Pytorch - widely used machine learning library
* OpenCV - library for working with images and image processing. 

To use python library we first need to install and import them:

We're not going to cover installing python libraries in-depth here, just know that if you are not working on Google Colab, you will need to install certain non-default libraries. Oftentimes you can do this by running the following on the command line.
```
pip install <library-name>
```
If you need assistance see [here](https://packaging.python.org/tutorials/installing-packages/) . On Google Colab, all the libraries you will need have already been installed, you just need to import them.  

Before we use a library, we need to let python know that we want to use the library. We do this by importing a library. To import a library we use the following line of code: 

```
import <library-name>
```

We can include this line anywhere in our code before we use the library, but normally we include it at the top of the file.  

Sometimes library names can be long or confusing, and typing them out repeatedly can be annoying. We can also give libraries nick-names or aliases using the following syntax:

```
import <library-name> as <alias>
```

**Working with Pandas**  
Pandas is a library for working with csv files or other forms of data.

At times, the input data we plan to use to train our machine learning algorithms is messy (Data points are missing or mislabeled) Working with libraries such as pandas is a common way of fixing or *cleaning* the data prior to building a model.

See the code below for a tutorial on pandas

In [ ]:
# df is a dataframe (think of it as a table)
# Each row represents a data point, and each column represents
# a property of that sample

# If were not working online this command will load in our dataset
# pd.read_csv('file_name')

# To see the names of the columns and the first five data points type
df.head()

                                          Unnamed: 0 Calories  ... Protein Sodium
0           Cool Lime Starbucks Refreshers™ Beverage       45  ...       0     10
1                                   Ombré Pink Drink        -  ...       -      -
2                                         Pink Drink        -  ...       -      -
3     Strawberry Acai Starbucks Refreshers™ Beverage       80  ...       0     10
4  Very Berry Hibiscus Starbucks Refreshers™ Beve...       60  ...       0     10

[5 rows x 7 columns]

In [ ]:
# We can see the number of samples our length of the dataframe using
print(len(df))

177

In [ ]:
# # We can also see some useful properties (mean, minimum value
# # maximum value, etc ...) from our dataframe using:
df.describe()

                           Unnamed: 0 Calories Fat (g)  ... Fiber (g) Protein Sodium
count                             177      177     177  ...       177     177    177
unique                            154       30      15  ...         8      17     25
top     Tazo® Bottled White Cranberry        -       -  ...         -       -      -
freq                                2       85      85  ...        85      85     85

[4 rows x 7 columns]

In [ ]:
# To return the values of a specific column, much like in an array use df[<column name>]
# This will return the panda equivalent of an array

my_var = df['Calories']

print(my_var)

0       45
1        -
2        -
3       80
4       60
      ...
172    320
173    300
174      -
175      -
176      -
Name: Calories, Length: 177, dtype: object

In [ ]:
# Get a description of a single column
df['Calories'].describe()

In [ ]:
# Let's see what the blank fields are
# We can see there's a blank space at 1
print(my_var[1])

nan

In [ ]:
# Replace the '-' characters with something that pandas recognizes
my_var.replace('-', np.nan, inplace=True)

In [ ]:
# Remove all the blank spaces
df.dropna(subset=['Calories'], inplace=True)

# Print the calorie column again
print(df['Calories'])

In [ ]:
# We can sort the entire dataframe by df.sort_values(by=<column name>)
df.sort_values(by='Calories')

                                            Unnamed: 0 Calories  ... Protein Sodium
176                                  Orange Cream Soda        -  ...       -      -
75   Starbucks® Refreshers™ - Black Cherry Limeade ...        -  ...       -      -
74           Starbucks® Low Calorie Iced Coffee + Milk        -  ...       -      -
148          Cinnamon Roll Frappuccino® Blended Coffee        -  ...       -      -
149                 Coffee Frappuccino® Blended Coffee        -  ...       -      -
..                                                 ...      ...  ...     ...    ...
18                                    Shaken Sweet Tea       80  ...       0     10
3       Strawberry Acai Starbucks Refreshers™ Beverage       80  ...       0     10
55         Starbucks Refreshers™ Raspberry Pomegranate       90  ...       0      0
56           Starbucks Refreshers™ Strawberry Lemonade       90  ...       0      0
37    Teavana® Shaken Iced Passion Tango™ Tea Lemonade       90  ...       0      0

[177 rows x 7 columns]

### Challenge Time
Check out one of the below datasets. Download the dataset, and begin to use what we covered in pandas to explore it. Try to answer the following questions for as many datasets as you can.

Some popular datasets to check out are:
* [Digimon Dataset](https://www.kaggle.com/rtatman/digidb)
* [UFO Sightings Dataset](https://www.kaggle.com/NUFORC/ufo-sightings)
* [80 Cereals Dataset](https://www.kaggle.com/crawford/80-cereals)
* [Lego Dataset](https://www.kaggle.com/rtatman/lego-database)
* [Metal Music Dataset](https://www.kaggle.com/mrpantherson/metal-by-nation/)
* [1000 Camera Dataset](https://www.kaggle.com/crawford/1000-cameras-dataset/)
* [UK Macroeconimic Dataset](https://www.kaggle.com/bank-of-england/a-millennium-of-macroeconomic-data)
* [Gene Expression Dataset](https://www.kaggle.com/crawford/gene-expression)
* [College Salaries*](https://www.kaggle.com/wsj/college-salaries) 


**Challenge - requires cleaning*.

In [ ]:
# Load in your dataset (copy the code from above)

# How many entries are in the dataset??

# What fields are in the dataset?

# What type of data does each field represent?

# How many unique elements are in each column

# Challenge - Try to remove all of the blank columns in one of your datasets